{
  "env": {
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "object-curly-spacing": ["error", "never"],
    "space-before-function-paren": ["error", "never"],
    "comma-dangle": ["error", "only-multiline"],
    "max-len": ["error", 120],
    "no-underscore-dangle": "off"
  },
  "extends": "airbnb"
}
